<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</head>
<body>
    <h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50" id="podoLogo"></h1> 

    <canvas id="myChart" width="400" height="400"></canvas>

<h3 id="keyWord1"></h3>
<h3 id="keyWord2"></h3>
<h3 id="keyWord3"></h3>
<h3 id="keyWord4"></h3>
<h3 id="keyWord5"></h3>


    <script src="/static/js/compre.js" defer></script>

</body>
</html>