<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/menu.css"/>

    <title>diary_list</title>
</head>
<body>

  
<h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50" id="podoLogo"></h1>
<p3 id="header" style="float: right; color: blueviolet;"> </p3>

  <div id="navbar" class="dropdown">
    <button class="dropbtn">=</button>
    <div class="dropdown-content">
      <div class="dropdown-content">
        <a id="mainBtn">홈</a>
        <a id="listBtn">리스트 보기</a>
        <a id="logoutBtn">로그아웃</a>
      </div>
    </div>
  </div>


   
<select name = "dateBox" id="dateBox" onchange="datedate(this)">
  <option selected value="" >날짜별 보기</option>
  <option value = "DESC" id="latest">최신순</option>
  <option value = "ASC" id="past">과거순</option>
</select>  
<select name = "emotionBox" id="emotionBox"  onchange="emotionValueBox(this)">
    <option selected value="">감정별보기</option>
    <option value = "POSITIVE" id="1" >긍정</option>
    <option value = "NEUTRAL" id="2">보통</option>
    <option value = "NEGATIVE" id="3">부정</option>
    <option value = "MIXED" id="4">복잡</option>

 </select>

  <table border="1" style=" width: 100%; 
  border-top: 1px solid #444444;
  border-collapse: collapse;">  

      <thead >
        <tr>
        <th>날짜</th>
        <th>핵심 키워드</th>
        <th>감정</th>
      </tr>
      </thead>
        <tbody id="diaryListBody" style="text-align: center; "></tbody>
      </tr>
      </tbody>
  </table>
  <div >
  </div>

  <script  src="/static/js/diary_list.js" defer ></script>

  <script src="/static/js/menu.js" defer></script>


</body>
</html>


