<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diary</title>
    <link rel="stylesheet" href="/static/css/menu.css"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

</head>
<body>
  <h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50" id="podoLogo"></h1>

  <p3 id="header" style="float: right; color: blueviolet;" > </p3>

    <div id="navbar" class="dropdown">
      <button class="dropbtn">=</button>
      <div class="dropdown-content">
        <div class="dropdown-content">
          <a id="mainBtn">홈</a>
          <a id="listBtn">리스트 보기</a>
          <a id="logoutBtn">로그아웃</a>
        </div>
      </div>
      </div>

      <table boarder="1">
        <tr>
          <td style="color: green;">날짜</td> 
          <td><input type="text" name="dateBar" id="dateBar" readonly></td>
        </tr>
        <tr>
          <td style="color: green;">내용</td>
          <td><textarea name="content" id="content" cols="30" rows="10" required placeholder="오늘 하루 동안의 일을 돌아보며 편하게 적어보세요."></textarea></td>
        </tr>
        <tr>
          <td><button id="submitBtn"type="submitBtn" style="background-color: rgb(238, 174, 238); border : 0; outline: 0; float: right;" >작성완료</button></td>
        </tr>
      </table>

 
      <canvas id="myChart" width="400" height="400"></canvas>

      <h2 style="color: green; float: center;">핵심 키워드 </h2> 

      <h3 id="keyWord1" style="float: center;"></h3>
      <h3 id="keyWord2" style="float: center;"></h3>
      <h3 id="keyWord3" style="float: center;"></h3>
      <h3 id="keyWord4" style="float: center;"></h3>
      <h3 id="keyWord5" style="float: center;"></h3>


    
    <script src="/static/js/diary.js" defer></script>

    <script src="/static/js/menu.js" defer></script>


</body>
</html>