<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diary</title>
    <link rel="stylesheet" href="/static/css/menu.css"/>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">=</button>
        <div class="dropdown-content">
          <a id="homeBtn">홈</a>
          <a id="listBtn">리스트 보기</a>
          <a id="diaryBtn">일기 쓰기</a>
          <a id="optionBtn">설정</a>
          <a id="logoutBtn">로그아웃</a>
        </div>
      </div>
      <h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50"></h1>

      <table boarder="1">
        <tr>
          <td>날짜</td> 
          <td><input type="text" name="dateBar" id="dateBar" readonly></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
        </tr>
        <tr>
          <td><button id="submitBtn"type="submitBtn">글쓰기</button></td>
        </tr>
      </table>
    
    <script src="/static/js/diary.js" defer></script>

</body>
</html>