<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디/비밀번호 찾기</title>
</head>
<body>
    <h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50" id="podoLogo"></h1>


    <h2>아이디 찾기</h2>
   <h6>본인확인 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.</h6> 
    <div>
    <input type="text" id="joinEmail" placeholder="email을 입력해주세요" name="joinEmail"/>
        <button id="emailCert">인증번호 발급</button><br>
        <input type="text" id="idCertNumber" placeholder="인증번호을 입력해주세요" name="certNumber"/>
        <button id="idCertNumberConfirm">인증번호 확인</button><br>

    </div>

    <h2>비밀번호 찾기</h2>
    <h6>작성하신 아이디의 가입 이메일로 인증번호 발급합니다.</h6>
    <div>
        <input type="text" id="id" placeholder="ID를 입력해주세요" name="id"/>
        <button id="idBtn">ID 확인</button><br>
        <input type="text" id="pwCertNumber" placeholder="인증번호을 입력해주세요" name="certNumber"/>
        <button id="pwCertNumberConfirm">인증번호 확인</button><br>
        <h6>비밀번호 변경</h6>
        <input type="password" id="findPw" placeholder="변경할 PW를 입력해주세요" name="findPw"/> ※ 숫자와 문자 포함 형태의 6~12자리 이내의 암호 <br>
        <input type="password" id="findPw2" placeholder="입력하신 PW를 입력해주세요" name="findPw2"/><br>
        <button id="pwButton">비밀번호 변경</button>

    </div>
    <br><br>
    <button id="loginButton">로그인 페이지</button>


    <script src="/static/js/find.js" defer></script>


</body>
</html>