<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>

</head>
<body>

    <div>
        <input type="text" id="id" placeholder="ID를 입력해주세요" name="id"/>
        <button id="idBtn">ID 확인</button><br>
        <input type="password" id="joinPw" placeholder="PW를 입력해주세요" name="joinPw"/> ※ 숫자와 문자 포함 형태의 6~12자리 이내의 암호 <br>
        <input type="password" id="joinPw2" placeholder="입력하신 PW를 입력해주세요" name="joinPw2"/><br>
        <input type="text" id="joinEmail" placeholder="email을 입력해주세요" name="joinEmail"/>
        <button id="emailCert">인증번호 발급</button><br>
        <input type="text" id="certNumber" placeholder="인증번호을 입력해주세요" name="certNumber"/><br>
        <button id="certNumberConfirm">인증번호 확인</button><br>
        
        <input type="text" id="name" placeholder="이름을 입력해주세요" name="name"/><br>
        <input type="text" id="phone" placeholder="연락처를 입력해주세요" name="phone"/><br>

        <label for="man">남자</label>
        <input type="radio" name="gender" value="0" id="man">
        <label for="woman">여자</label>
        <input type="radio" name="gender" value="1" id="woman"> <br><br>
        


        <button id="joinButton">작성완료</button>

    </div>
    <script src="/static/js/join.js" defer></script>

</body>
</html>