<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>login</title>

</head>
<body>


<h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50"></h1>

<div>
    <input type="text" id="id" placeholder="ID를 입력해주세요" name="id"/><br>
    <input type="password" id="password" placeholder="PW를 입력해주세요" name="password"/><br>
    <button id="loginBtn">로그인</button>
    <button id="joinBtn">회원가입</button><br>
    
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<a href = "javascript:KakaoLogin();"><img src="https://img.eduwill.net/Img2/mobile2/brand_new/common/btn-kakao-mobile@3x.png" style="height: 40px; width: auto;" id="kakaoLoginImg"></img></a>
 <button id="kakaoLogout" onclick="kakaoLogout()">kakaoLogout</button>

<script>
window.Kakao.init("320eb75ea03092912a492070f7665a73");
    
    function KakaoLogin() {
        window.Kakao.Auth.login({
            scope:'profile_nickname, account_email',
            success: function(authObj) {
                console.log(authObj);
                window.Kakao.API.request({
                    url: '/v2/user/me',
                    data: {
                        property_keys: ["profile_nickname, account_email,"]
                    },
                    success: function(response) {

                        console.log(response);
                    },
                    fail: function(error) {
                        console.log(error);
                    }
                });
            }
        });
    }
    function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      //토큰이 있으면
      Kakao.API.request({
        //로그아웃하고
        url: '/v1/user/unlink',
        success: function (response) {
          //console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      //토큰도 삭제
      Kakao.Auth.setAccessToken(undefined)
      //유저정보도 삭제
      const userinfoElem = document.querySelector('#userinfo') 
      if(userinfoElem) userinfoElem.value = ''
    }
  }


</script>



<script src="/static/js/login.js" defer></script>

</body>
</html>
