<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>login</title>

</head>
<body>


<h1>podo<img src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f347.svg" width="50" height="50"></h1>

<div>
    <input type="text" id="id" placeholder="ID를 입력해주세요" name="id"/><br>
    <input type="password" id="password" placeholder="PW를 입력해주세요" name="password"/><br>
    <button id="loginBtn">로그인</button>
    <button id="joinBtn">회원가입</button><br>
    
</div>


<a href = "javascript:KakaoLogin();"><img src="https://img.eduwill.net/Img2/mobile2/brand_new/common/btn-kakao-mobile@3x.png" style="height: 40px; width: auto;"></img></a>


<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    window.Kakao.init("320eb75ea03092912a492070f7665a73");

    function KakaoLogin() {
        window.Kakao.Auth.login({
            scope:'profile_nickname, account_email, gender',
            success: function(authObj) {
                console.log(authObj);
                window.Kakao.API.request({
                    url:'/v2/user/me',
                    success: res => {
                        const Kakao_account = res.Kakao_account;
                        console.log(Kakao_account);
                    }
                });
            }
        });
    }
</script>



<script src="/static/js/login.js" defer></script>

</body>
</html>
