<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/menu.css"/>    
</head>
<body>
  <div id="navbar" class="dropdown">
    <button class="dropbtn">=</button>
    <div class="dropdown-content">
      <div class="dropdown-content">
        <a id="homeBtn">홈</a>
        <a id="listBtn">리스트 보기</a>
        <a id="diaryBtn">일기 쓰기</a>
        <a id="optionBtn">설정</a>
        <a id="logoutBtn">로그아웃</a>
      </div>
    </div>
  </div>

  <div class="container" >
    <div id="div_calendar" style="width:500px; height: 500px;">
      <div>
        <button type="button" onclick="changeMonth(-1)"><i class="fa fa-chevron-left"></i></button>
        <input type="number" id="year" value="2021" style="width:80px;display:initial;" class="form-control"/>
        <select id="month" class="form-control" style="width:80px;display:initial;" onchange="changeMonth();">
          <option value="1">1월</option>
          <option value="2">2월</option>
          <option value="3">3월</option>
          <option value="4">4월</option>
          <option value="5">5월</option>
          <option value="6">6월</option>
          <option value="7">7월</option>
          <option value="8">8월</option>
          <option value="9">9월</option>
          <option value="10">10월</option>
          <option value="11">11월</option>
          <option value="12">12월</option>
        </select>
        <button type="button" onclick="changeMonth(+1)"><i class="fa fa-chevron-right"></i></button>

      </div>
      <table class="table table-boardered">
        <thead>
          <tr>
            <th>일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th>토</th>
          </tr>
        </thead>
        <tbody id="tb_body" style="width:500px; height: 500px;" 
        >
        </tbody>
      </table>
      
    </div>
  </div>
  <div>
    <img id="smile" src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f601.svg" width="20" height="20">
    <img id="natural" src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f610.svg" width="20" height="20">
    <img id="bad" src="https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/2639-fe0f.svg" width="20" height="20"> 
  </div>
 


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/static/js/menu.js" defer></script>
  <script src="/static/js/main.js" defer></script>

</body>
</html>