<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>

</head>

<body>
  <div id="_navbar" ></div> 
  



<script>
    /*document.getElementById('folderBtn').addEventListener('click', function(){
        location.href = "/folder";
    });
    document.getElementById('calendarBtn').addEventListener('click', function(){
        location.href = "/calendar";
    });
    document.getElementById('diaryBtn').addEventListener('click', function(){
        location.href = "/diary";
    });
    document.getElementById('categoryBtn').addEventListener('click', function(){
        location.href = "/category";
    });*/
    window.addEventListener( 'load', () => {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', 'http://localhost:3000/navbar', true);
      xhr.onreadystatechange = () => {
        if( xhr.readyState === 4 ) {
          
          console.log(xhr.response);  
          const fileSrc = xhr.responseText;
          console.log('undefiend ??? => ', fileSrc);
          document.getElementById('_navbar').innerHTML = fileSrc;
        }
      }
    xhr.send();
    })
</script>


</body>
</html>